<!-- bookpromo -->
<div class="widget bg-center">
    {{ with site.Params.promo }}
    {{ if .enable }}
        <h2 class="mb-2 text-light-700">{{site.Params.promo_widget_title | markdownify}}</h2>
        <p class="mb-2 text-light-700">{{site.Params.promo_widget_subtitle | markdownify}}</p>
        {{ with .image }}
            <div class="col-lg-12 col-sm-12 col-12 mx-auto mb-5 mb-lg-0">
            {{ $image:= resources.Get . }}
            {{ $imageWidth:= add (string $image.Width) "x"}}
            {{ $options := add (string $imageWidth) " webp" }}
            {{ $imageWebp:= $image.Resize $options }}
            <a href="https://www.amazon.com/iOS-Architecture-Patterns-VIPER-Swift/dp/1484290682/" onclick="ga('send', 'event', 'BookPromotion', 'Amazon', 100);" target="_blank">
            <img decoding="async" width="400" height="400"
                src="{{ $imageWebp.RelPermalink }}" onerror="this.onerror=null;this.src='{{$image.RelPermalink}}'"
                alt="banner-img" class="img-fluid">
            </a>
            </div>
        {{ end }}
        <div class="pt-4"> 
            <a href="{{ .button_link | absURL }}" class="btn btn-primary" onclick="ga('send', 'event', 'BookPromotion', 'Amazon', 100);" target="_blank">{{ site.Params.promo_widget_button }}</a>
        </div>
    {{end}}
    {{end}}
</div>
